.inputContainer {
  background-color: var(--todo);
  height: 3rem;
  display: flex;
  align-items: center;
  border-radius: 5px;
  margin-bottom: 1.5rem;
  box-shadow: #80808061 0px 0px 20px 0px;
  .inputBox {
    background-color: var(--todo);
    color: var(--colorFont);
    height: 100%;
    width: 80%;
    border: none;
    font-family: "Josefin Sans", sans-serif;
    &::placeholder {
      color: var(--colorFont);
    }
    &:focus {
      outline: none;
    }
  }
  .icon {
    border-radius: 50%;
    margin: 15px;
    width: 20px;
    height: 20px;
    border: 1px solid gray;
    cursor: pointer;
    svg {
      display: none;
    }
    &:hover {
      border-color: rgb(192, 88, 243);
    }
    &.active {
      background: linear-gradient(
        to right,
        rgb(87, 221, 255),
        rgb(192, 88, 243)
      );
      border: none;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
