.footerItem {
  list-style-type: none;
  height: 3rem;
  display: flex;
  align-items: center;
  cursor: pointer;
  color: gray;
}

.footerItem:hover {
  color: black;
}
.footerItem.active {
  background: -webkit-linear-gradient(rgb(87, 221, 255), rgb(192, 88, 243));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
