.container {
  width: 35%;
  position: absolute;
  top: 20%;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;

  .titlerow {
    display: flex;
    justify-content: space-between;

    .titlePage {
      margin-bottom: 2.5rem;
      font-size: 2.5rem;
      color: white;
    }
  }
  .todoContainer {
    border-radius: 5px;
    background-color: var(--todo);
    box-shadow: #80808061 0px 0px 20px 0px;
  }
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .container {
    width: 90%;
    top: 25%;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .container {
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
